.sideview {
    position: fixed;
    width: 290px;
    height: 100%;
    display:block;
}

nav ul li  {
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    display: inline-block;
    color: white; 
    
}
.container{
    display:inline-block;
    width: 900px;
    margin-top: 150px;
   
}
