
.sideview {
    position: fixed;
    
    width: 290px;
    height: 100%;
    display: block;
}

nav ul li  {
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    display: inline-block;
    color: white; 
    
}
#img{
    border-radius: 140px;
}

nav ul li :hover {
    color: blue;
}
.container{
    margin-left: 310px;
}
.image1{
    background-image:url(pic.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    
}
